* {
    margin: 0;
    padding: 0;y
}

/* First section */
#banner-container{

}
.first-section {
    width: 82.5%;
    max-width: 1320px;
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../resources/Banner-Image.png');
    border-radius: 16px;
    background-size: cover;
    justify-content: center;
    margin: 50px auto 0px;
    height: 600px;
    flex-shrink: 0;

}

.first-section:hover {
    border: 5px solid rgb(50, 221, 255);

}

.first-section .banner-greeting {
    color: #FFF;
    padding-top: 177px;
    text-align: center;
}

.first-section .banner-greeting p {
    color: #FFF;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.first-section .banner-greeting h2 {
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    width: 632px;
    max-width: 521.4px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
    padding: 16px;

}

/* Second Section */
.second-section {
    max-width: 662.4px;
    width: 100%;
    margin: 120px auto 120px;
}

.second-section .discount-container {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 48px;
}

.second-section .discount-container h2 {
    font-size: 72.6px;
    padding: 20px 0;
}

.second-section .discount-title p {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 19.8px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.second-section .discount-title h3 {
    margin-top: 16px;

    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 39.6px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 10px 0;
    margin-bottom: 48px;
}

.second-section discount-img {
    width: 662.4px;
    height: 500px;
    flex-shrink: 0;
}

.second-section discount-img img {
    width: 662.4px;
    height: 500px;
    flex-shrink: 0;
}

/* Third Section */
.third-section {
    width: 82.5%;
    max-width: 1320px;
    height: 600px;
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../resources/Vectorrr.png');
    border-radius: 16px;
    background-size: cover;
    justify-content: center;
    margin: 120px auto;
}

.third-section .welcome-container {
    max-width: 1056px;
    margin: 0 auto;
}

.third-section .welcome-container .welcome-banner {
    display: flex;
    gap: 77.69px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
}

.third-section .welcome-container .welcome-banner .welcome-title h1 {
    max-width: 642px;
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
    padding: 10px 0 0;
}

.third-section .welcome-container .welcome-banner .welcome-title p {
    max-width: 697px;
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
    margin-top: 24px;
}

.third-section .welcome-container .welcome-banner .welcome-year {
    display: flex;
    width: 319.83px;
    height: 464.662px;
    padding: 68.11px 0px 0px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.third-section .welcome-container .welcome-banner .welcome-year img {
    padding-top: 68.11px
}

.third-section .welcome-container .welcome-banner .welcome-title .button {
    margin-top: 48px;
    padding-left: 30px;
}

.welcome-button:hover {
    background-color: red;
    color: #FFF;
}

.welcome-button {
    padding: 10px;
    font-size: 20px;
    border: none;
}

/* Fourth Section */
.fourth-section {
    width: 1320px;
    flex-shrink: 0;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    border-radius: 16px;
    margin: 50px auto 0px;
    height: 482px;
    flex-shrink: 0;
    display: block;
}

.fourth-section .time-place {
    color: black;
    padding-top: 100px;
}

.fourth-section .time-place p {
    text-align: center;
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}

.fourth-section .time-place .red {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}

.fourth-section .time-place .join-button:hover {
    background-color: #000000;
}

.fourth-section .time-place .join-button {
    color: #FFF;
    margin-top: 48px;
    background-color: #F00;
    padding: 16px 32px;
    border: none;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

/* Fifth section */
#offers {
    width: 1320px;
    height: 482px;
    background: #FFF;
    margin: 120px auto;
}

#offers .offer-container {
    display: flex;
    align-items: center;
    gap: 70px;
    justify-content: space-between;

}

#offers .offer-container .offer-title {
    max-width: 393px;
    margin-right: auto;
}

#offers .offer-container .offer-title .offer {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#offers .offer-container .offer-title h4 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    margin: 16px 0 22px;
}

#offers .offer-container .offer-title .offer-description {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}


#offers .offer-container .offer-hover-image:hover {
    border: 5px solid blue;
    border-radius: 50%;
}

#offers .offer-container .offer-hover-image .offer-image {
    border: 15px solid red;
    border-radius: 50%;

    padding: 30px;
}




#offers .offer-container .offer-hover-image .offer-image img {
    width: 364.844px;
height: 364.844px;
}

#offers .offer-container .offer-year {
    margin-left: auto;
    width: 276px;
}

#offers .offer-container .offer-year h4 {
    color: #F00;
    margin-bottom: 16px;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#offers .offer-container .offer-year p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    margin-bottom: 43px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    /* 160% */
}

#offers .offer-container .offer-year img {
    max-width: 140px;
    height: 140px;
    flex-shrink: 0;
}

/* Sixth Section */
#portfolio {
    margin: 120px auto;
    max-width: 1320px;
}

#portfolio .portfolio-container {}

#portfolio .portfolio-container .title {}

#portfolio .portfolio-container .title strong {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 16px;
}

#portfolio .portfolio-container .title h3 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    margin-bottom: 22px;
}

#portfolio .portfolio-container .title p {
    width: 896px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    /* 160% */
    margin-bottom: 48px;
}

#portfolio .portfolio-container .images {}

#portfolio .portfolio-container .images .images1 {
    display: flex;
}


.first-row {
    width: 424px;
    height: 450px;
    flex-shrink: 0;
    padding: 5px;
    border-radius: 20px;
}

.first-row:hover {
    border: 2px solid red;
}
/* Seventh Section */
#newsletter {
    width: 1320px;
    height: 616px;
    flex-shrink: 0;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    margin: 120px auto;
    text-align: center;
}

#newsletter img {
    margin-top: 80px;
    margin-bottom: 40px;
}

#newsletter h1 {
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}

#newsletter p {
    width: 896px;
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    /* 160% */
    margin: 0 auto 48px;
}

#newsletter .news-form {
    margin: 0 336px 80px;
}

form {
    max-width: 648px;
    height: 72px;
    flex-shrink: 0;
    display: flex;
    padding: 0 336px;
}

form input {
    width: 648px;
    flex-shrink: 0;
    background: #FFF;
    padding: 5px;
    border: none;
    /* outline: none; */
    font-size: 30px;
}

.btn {
    width: 210px;
    padding: 20px;
    flex-shrink: 0;
    border-radius: 0px 50px 50px 0px;
    border: none;
    background: #F00;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 40px;
    text-transform: capitalize;
}
/* Eight section */
footer {
    background: #070211;
}

.footer {
    max-width: 1320px;
    display: flex;
    gap: 600px;
    margin: 0 auto;
}

.footer p {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
    margin-top: 120px;
    margin-bottom: 50px;
}

hr {
    background: rgba(255, 255, 255, 0.15);
    width: 1320px;
    height: 1px;
    margin: 0 auto;
}

.socail-links {
    width: 1320px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.socail-links img {
    margin: 48px 24px;
}


.last-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1320px;
    margin: 0 auto;
    padding-bottom: 120px;
}

.last-section {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    padding: 50px 0;
}

.unsubscribe {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    background: #070211;
    border: none;
    cursor: pointer;
}

.footer-text-recive-last {}