* {
    margin: 0;
    padding: 0;
}

#banner-container {
    width: 82.5%;
    max-width: 1320px;
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../resources/Banner-Image.png');
    border-radius: 16px;
    background-size: cover;
    justify-content: center;
    margin: 50px auto 0px;
    height: 600px;
    flex-shrink: 0;

}
#banner-container:hover{
    border: 5px solid rgb(50, 221, 255);
    
}
#banner-container .banner-greeting {
    color: #FFF;
    padding-top: 177px;
    text-align: center;
}

#banner-container .banner-greeting p {
    color: #FFF;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#banner-container .banner-greeting h2 {
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    width: 632px;
    max-width: 521.4px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
    padding: 16px;

}

#discount {
    max-width: 662.4px;
    width: 100%;
    margin: 120px auto 120px;
}

#discount .discount-container {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 48px;
}

#discount .discount-container h2 {
    font-size: 72.6px;
    padding: 20px 0;
}

#discount .discount-title p {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 19.8px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#discount .discount-title h3 {
    margin-top: 16px;

    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 39.6px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 10px 0;
    margin-bottom: 48px;
}

#discount discount-img {
    width: 662.4px;
    height: 500px;
    flex-shrink: 0;
}

#discount discount-img img {
    width: 662.4px;
    height: 500px;
    flex-shrink: 0;
}

#welcome {
    width: 82.5%;
    max-width: 1320px;
    height: 600px;
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../resources/Vectorrr.png');
    border-radius: 16px;
    background-size: cover;
    justify-content: center;
    margin: 120px auto;
}

#welcome .welcome-container {
    max-width: 1056px;
    margin: 0 auto;
}

#welcome .welcome-container .welcome-banner {
    display: flex;
    gap: 77.69px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
}

#welcome .welcome-container .welcome-banner .welcome-title h1 {
    max-width: 642px;
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px;
    /* 137.5% */
    letter-spacing: 7.04px;
    padding: 10px 0 0;
}

#welcome .welcome-container .welcome-banner .welcome-title p {
    max-width: 697px;
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
    margin-top: 24px;
}

#welcome .welcome-container .welcome-banner .welcome-year {
    display: flex;
    width: 319.83px;
    height: 464.662px;
    padding: 68.11px 0px 0px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

#welcome .welcome-container .welcome-banner .welcome-year img {
    padding-top: 68.11px
}

#welcome .welcome-container .welcome-banner .welcome-title .button {
    margin-top: 48px;
    background-color: transparent;
    color: white;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    padding-left: 30px;
    border: none;
    /* Remove button border if any */
}

#invitation {
    width: 1320px;
    flex-shrink: 0;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    border-radius: 16px;
    margin: 50px auto 0px;
    height: 482px;
    flex-shrink: 0;
    display: block;
}

#invitation .time-place {
    color: black;
    padding-top: 100px;
}

#invitation .time-place p {
    text-align: center;
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}

#invitation .time-place .red {
    color: #F00;

    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    /* 175% */
    text-transform: capitalize;
}

#invitation .time-place .join-button {
    color: #FFF;
    margin-top: 48px;
    background-color: #F00;
    padding: 16px 32px;
    border: none;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

#offers {
    width: 1320px;
    height: 482px;
    background: #FFF;
    margin: 120px auto;
}

#offers .offer-container {
    display: flex;
    align-items: center;
    gap:70px;
    justify-content: space-between;

}

#offers .offer-container .offer-title {
    max-width: 393px;
    margin-right: auto;
}

#offers .offer-container .offer-title .offer {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#offers .offer-container .offer-title h4 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    margin: 16px 0 22px;
}

#offers .offer-container .offer-title .offer-description {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    /* 160% */
}

/* #offers .offer-container .offer-image:hover{
    border: 5px solid blue;
    
    border-radius: 50%;
} */
#offers .offer-container .offer-hover-image:hover {
    border: 5px solid blue;
    border-radius: 50%;
}

#offers .offer-container .offer-hover-image .offer-image {
    border: 15px solid red;
    border-radius: 50%;

    padding: 20px;
}

/* #offers .offer-container .offer-image img:hover{
    border: 4px solid blue; */
}

.circular-image:hover {
    border: 5px solid green;
}

.circular-image {
    padding: 20px;
    border-radius: 50%;
    object-fit: cover;
}

#offers .offer-container .offer-hover-image .offer-image img {
    width: 364.844px;
height: 364.844px;
}


#offers .offer-container .offer-year {
    margin-left: auto;
    max-width: 276px;
}

#offers .offer-container .offer-year h4 {
    color: #F00;
    margin-bottom: 16px;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#offers .offer-container .offer-year p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    margin-bottom: 43px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    /* 160% */
}

#offers .offer-container .offer-year img {
    max-width: 140px;
    height: 140px;
    flex-shrink: 0;
}

#holiday-discount {
    width: 82.5%;
    max-width: 1320px;
    height: 600px;
    margin: 120px auto;
}

#holiday-discount .holiday-image {
    background-image: url('../resources/Rectangle-1.png'), url('../resources/Rectangle-2.png');
    background-repeat: no-repeat;
    border: none;
    background-position: top right, bottom;
    display: flex;
    
    align-items: end;
    width: 1320px;
    height: 670px;
    flex-shrink: 0;
    /* background-image: url('../resources/Rectangle-1.png'), url('../resources/Group-75.png'); */
}


#holiday-discount .holiday-title{
 text-align: center;
}

#holiday-discount .holiday-title strong{
    color: #070211;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
#holiday-discount .holiday-title h2{
    color: #F00;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

#holiday-discount .holiday-title p{
    color: #070211;
font-family: Inter;
font-size: 24px;
max-width: 1068px;
margin: 28px 266px 64px;
font-style: normal;
font-weight: 500;
line-height: normal;
}


#holiday-discount .holiday-title .holiday-description{
    color: rgba(7, 2, 17, 0.60);
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 32px; /* 160% */
}

#portfolio{
    margin: 120px auto;
    max-width: 1320px;
}

#portfolio .portfolio-container{
    
}

#portfolio .portfolio-container .title{
    
}
#portfolio .portfolio-container .title strong{
    color: #F00;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-bottom: 16px;
}
#portfolio .portfolio-container .title h3{
    color: #070211;
font-family: Merriweather;
font-size: 48px;
font-style: normal;
font-weight: 900;
line-height: normal;
text-transform: capitalize;
margin-bottom: 22px;
}
#portfolio .portfolio-container .title p{
    width: 896px;
    color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 160% */
margin-bottom: 48px;
}
#portfolio .portfolio-container .images{
    
}
#portfolio .portfolio-container .images .images1{
    display: flex;
}


.first-row {
    width: 424px;
height: 450px;
flex-shrink: 0;
padding: 5px;
border-radius: 20px;
}

.first-row:hover{
    border: 2px solid red;
}

#newsletter{
    width: 1320px;
height: 616px;
flex-shrink: 0;
border-radius: 16px;
background: rgba(255, 0, 0, 0.05);
margin: 120px auto;
text-align: center;
}
#newsletter img{
    margin-top: 80px;
    margin-bottom: 40px;
}
#newsletter h1{
    color: #070211;
text-align: center;
font-family: Merriweather;
font-size: 48px;
font-style: normal;
font-weight: 900;
line-height: normal;
text-transform: capitalize;
}
#newsletter p{
    width: 896px;
    color: rgba(7, 2, 17, 0.60);
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 160% */
margin: 0 auto 48px;
}
#newsletter .news-form{
    margin: 0 336px 80px;
}
form{
    max-width: 648px;
height: 72px;
flex-shrink: 0;
display: flex;
padding: 0 336px;
}

form input{
    width: 648px;
flex-shrink: 0;
background: #FFF;
padding: 5px;
border: none;
}
button{
    width: 210px;
    padding: 20px;
    flex-shrink: 0;
    border-radius: 0px 50px 50px 0px;
    border: none;
background: #F00;
padding: 23px;
color: #FFF;
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: capitalize;
}
/* .btn{
    background: red;
    color: #fff;
    border: none;
    font-size: 20px;
    padding: 15px 28px;
} */