* {
    margin: 0;
    padding: 0;
}

#banner-container {
    width: 82.5%;
    max-width: 1320px;
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../resources/Banner-Image.png');
    border-radius: 16px;
    background-size: cover;
    justify-content: center;
    margin: 50px auto 120px;
    height: 600px;
    flex-shrink: 0;

}

#banner-container .banner-greeting {
    color: #FFF;
    padding-top: 177px;
    text-align: center;
}

#banner-container .banner-greeting p {
    color: #FFF;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
#banner-container .banner-greeting h2{
    font-family: Merriweather;
font-size: 72px;
font-style: normal;
font-weight: 900;width: 632px;
max-width: 521.4px;
margin-left: auto;
margin-right: auto;
margin-top: 16px;
padding: 16px;

}